:root{
    --cor-bege:#F2E9BB;
    --cor-cinza: #262626;
    --cor-preta: #000;
    --font-titulo: "Patrick Hand";
    --font-texto: "Caveat"
}

.conteiner__titulo{
    margin: 1rem 0 0 1rem;
}

.titulo{
    font-size: 3rem;
    font-weight: 400;
    font-family: var(--font-titulo);
}

.formulario{
    margin: 2rem;
}

.titulo__produto{
    font-size: 1.3rem;
    font-weight: 400;
    font-family: var(--font-titulo);
}

.container-flex{
    display: flex;
    justify-content: space-between;
}

.container-flex2{
    display: flex;
    justify-content: space-around;
    margin-top: 3rem;
}

.produto{
    width: 15rem;
}

.quantidade{
    width: 3rem;
}

.texto__produto{
    font-size: 1rem;
    font-weight: 400;
    font-family: var(--font-titulo);
}

.titulo__qt{
    font-size: 1rem;
    font-weight: 400;
    font-family: var(--font-titulo);
}

.botao, .produto, .quantidade{
    font-size: 1.5rem;
    font-weight: 400;
    font-family: var(--font-titulo);

    border: var(--cor-cinza) solid 1px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.resultados{
    border: 2px solid var(--cor-cinza);
    border-radius: 5px;

    width: 60%;
    margin: 1rem 0 0 0 ;
    padding: 0.2rem;

    background-color: white;
}

.container_pedido{
    margin: 0 0 1rem 0;
}

.titulo__produto{
    margin: 0.2rem 0 .3rem 0;
}

.container__opcoes{
  width: 23rem;
  margin-left: auto;
  margin-right: auto;
}

.mais__escolhidos{
   display: flex;
   gap: .5rem;
   overflow-x: scroll;
}
